@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.8rem;
    color: #141414;
    font-family: 'Roboto', sans-serif;
}

main > div > div {
    max-width: 800px;
    padding: 1px 24px 1px 24px;
    margin: auto;
}

footer > div > div {
    max-width: 800px;
    padding: 0px 24px 0px 24px;
    margin: auto;
}

footer {
    padding: 1px;
    color: #EEEEEE;
    background-color: #141414;
}

footer nav {
    text-align: center;
}

footer a {
    color: #EEEEEE;
    text-decoration: none;
}

footer h3 {
    font-size: 2.4rem;
    text-align: center;
}

footer img {
    margin-bottom: 1em;
}

h1, h2, h3 {
    text-align: center;
}

h1 > span {
    text-shadow: 0px 5px 10px #e94f37;
}

h1 {
    margin: 1.8rem 0;
    font-size: 3.0rem;
}

h2 {
    margin: 1.8rem 0;
    font-size: 2.6rem;
}

h3 {
    margin: 1.8rem 0;
    font-size: 2.4rem;
}

p {
    margin: 1.8rem 0;
}

i.first {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 1.4rem;
    margin: 1.4rem 0;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

a.btn {
    padding: 10px;
    border-radius: 25px;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 1.8rem 0 1.8rem 0;
    box-shadow: 0px 5px 10px #14141450;
    text-shadow: 0px 2px 2px #2f5220;
    background-image: linear-gradient(#6AB547, #71BA4F, #4D8433);
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}

a.btn > span#subprincipal {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
    text-shadow: 0px 2px 2px #2f5220;
}

a.btn > span#principal {
    font-size: 2.8rem;
    text-shadow: 0px 2px 2px #2f5220;
}

a.btnwpp {
    display: block;
    margin: 0 auto 2.2rem auto;
    width: 75%;
    padding: 10px 0 10px 0;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-image: linear-gradient(#6AB547, #71BA4F, #4D8433);
    border-radius: 15px;
    box-shadow: 0px 4px 0px 1px #355c24;
}

.bluebg {
    color: #FFFFFF;
    background-color: #005281;
}

.bluebg h1, .bluebg h2 {
    text-shadow: 0px 2px 2px #003452;
}

.graybg {
    background-color: #efefef;
}

.orangebg {
    background-color: #e94f37;
    text-shadow: 0px 2px 2px #832b1e;
}

.yellowbg {
    font-size: 1.1em;
    color: #141414;
    background-color: #EDB91D;
}

.red {
    font-size: 1.1em;
    color: #ed1d1d;
}

img#depoiment {
    border-radius: 15px;
    border: 4px solid #E94F37;
    box-shadow: 0px 5px 10px #003452;
}

img#ofert {
    border-radius: 15px;
    box-shadow: 0px 5px 10px #999999;
}

img#comofunciona {
    border-radius: 15px;
    border: 4px solid #E94F37;
    box-shadow: 0px 5px 10px #003452; 
}

div.video {
    margin-top: -1em;
    margin-bottom: 1.4em;
    padding: 42px 0px 50% 0px;
    position: relative;
}

div.video > iframe {
    width: 100%;
    height: 90%;
    position: absolute;
}

p a {
    color: #005281;
}

p.institutional {
    font-size: 14px;
    text-align: center;
}

p.tcenter {
    text-align: center;
}

p.p14 {
    font-size: 14px;
}

p.p14 a {
    font-weight: bold;
    color: #FFFFFF !important;
}

.mt18 {
    margin: 1.8rem 0 0 0;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

/* + Depoimentos */

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.image-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.image-slider::-webkit-scrollbar {
    display: none;
}

.card-slider {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.slider-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

@media (min-width: 500px) {
    div#more-depoiments {
        display: none;
    }

    .flogo {
        width: 50%;
        margin: 1.8rem auto;
        text-align: center;
    }
}
